.ant-input-suffix {
    margin-left: 50%;
}

.page-head {
    margin-top: 80px;
    text-align: center;
}

.home-img {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}